<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <!-- 按照每天生成日志文件 -->
    <appender name="BASE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.home}/logs/teemo/teemo.log" />
        <param name="encoding" value="utf-8" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c %x - %m%n" />
        </layout>
    </appender>
    <!-- 异步输出 -->
    <appender name="ASYNC_BASE" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="1024" />
        <appender-ref ref="BASE" />
    </appender>

    <!-- 用户操作日志，日滚 -->
    <appender name="USER_LOG" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="${catalina.home}/logs/teemo/user/user.log" />
        <param name="encoding" value="utf-8" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c %x - %m%n" />
        </layout>
    </appender>
    <!-- 异步输出 -->
    <appender name="ASYNC_USER_LOG" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="1024" />
        <appender-ref ref="USER_LOG" />
    </appender>

    <!-- 输出到控制台中 -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5p %c %x - %m%n" />
        </layout>
    </appender>

    <logger name="USER_LOG" additivity="false">
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ASYNC_USER_LOG" />
    </logger>

    <!-- hibernate缓存分析日志，生产环境请移除 -->
    <logger name="org.hibernate.cache" additivity="false">
        <level value="debug" />
        <appender-ref ref="CONSOLE" />
    </logger>
    <!-- hibernate SQL分析 -->
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" additivity="false">
        <level value="trace" />
        <appender-ref ref="CONSOLE" />
    </logger>
    <!-- 切面分析 -->
    <logger name="com.teemo.core.aop" additivity="false">
        <level value="debug" />
        <appender-ref ref="CONSOLE" />
    </logger>

    <!-- 基本日志级别为INFO -->
    <root>
        <level value="INFO" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="ASYNC_BASE" />
    </root>
</log4j:configuration>